<app-spinner></app-spinner>
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav fixedInViewport="true" mode="side" opened="{{ true }}">
    <section
      [class.sidenav]="isExpanded"
      [@menuAnimation]="isExpanded ? 'open' : 'closed'"
    >
      <div class="title">
        <p *ngIf="isExpanded">EaseController</p>
        <div class="toggle">
          <mat-icon (click)="toggleMenu()">
            {{ isExpanded ? "first_page" : "dehaze" }}
          </mat-icon>
        </div>
      </div>
      <div *ngIf="isExpanded" [@menuAnimation]="isExpanded ? 'open' : 'closed'">
        <div>
          <h2 class="parametrosDoSistema">
            Controle em Espaço de Estados em Tempo Contínuo
          </h2>

          <!-- PARAMETROS DO SISTEMA - ITENS EM ROW -->
          <div class="matrizes-input">
            <p class="titles-navBar">Parâmetros do sistema</p>

            <div class="input-increase">
              <div class="inputRow">
                <h5 class="inputText">Ordem do Sistema</h5>
                <mat-form-field
                  class="example-full-width"
                  appearance="fill"
                  [style.width.px]="80"
                >
                  <mat-label></mat-label>
                  <input
                    type="number"
                    [(ngModel)]="quadN"
                    matInput
                    placeholder="Estado da Matriz"
                    (change)="createTables()"
                  />
                </mat-form-field>
              </div>

              <div class="inputRow">
                <h5 class="inputText">Número de Entradas</h5>
                <mat-form-field
                  class="example-full-width"
                  appearance="fill"
                  [style.width.px]="80"
                >
                  <mat-label></mat-label>
                  <input
                    type="number"
                    [(ngModel)]="inL"
                    matInput
                    placeholder="Número de Entradas"
                    (change)="createTables()"
                  />
                </mat-form-field>
              </div>
              <div class="inputRow">
                <h5 class="inputText">Número de Saídas</h5>
                <mat-form-field
                  class="example-full-width"
                  appearance="fill"
                  [style.width.px]="80"
                >
                  <mat-label></mat-label>
                  <input
                    type="number"
                    [(ngModel)]="outM"
                    matInput
                    placeholder="Número de Saídas"
                    (change)="createTables()"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- MATRIZES -->
          <div class="matrizes-input">
            <p class="titles-navBar">Preenchimento das matrizes</p>

            <div *ngFor="let matriz of matrizes; index as c">
              <h5>Matriz {{ matriz.label }}</h5>

              <table>
                <tr *ngFor="let vx of matriz.values; let i = index">
                  <td
                    *ngFor="let vy of vx; let j = index; trackBy: trackByFilter"
                  >
                    <input
                      class="inputMatriz"
                      type="text"
                      id="cell_{{ i }}_{{ j }}"
                      appDecimalNumber
                      value=""
                      matInput
                      (blur)="matrizValueChange(matriz, i, j, $event)"
                      placeholder="0"
                      defaultValue=""
                      (keydown)="handleEnterKey($event, i, j)"
                    />
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row">
            <button
              mat-raised-button
              color="primary"
              (click)="calc()"
              style="margin-left: 25px"
            >
              Calcular dinâmica da planta
            </button>
            <button class="iconDelete" (click)="limparInput()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
  </mat-sidenav>
  <mat-sidenav-content [style.margin-left.px]="!isExpanded ? 75 : 350">
    <div class="elemento-com-svg-de-fundo">
      <div class="navbar-container" style="padding: 25px">
        <div>
          <div *ngIf="panelMA">
            <!-- Controlabilidade -->
            <div class="card-box">
              <div class="row-controlabilidade">
                <div>
                  <mat-card-title class="title-card"
                    >Controlabilidade e<br />Observabilidade</mat-card-title
                  >
                  <p class="text-card" style="margin-top: 10px">
                    {{ control_rank }}
                  </p>
                  <p class="text-card">{{ obsv_rank }}</p>
                </div>
                <div *ngIf="isControlable()" class="vl"></div>
                <!-- divisor na vertical -->
                <div *ngIf="isControlable()" style="col">
                  <mat-card-title class="title-card"
                    >Escolha o controlador<br
                  /></mat-card-title>
                  <mat-form-field style="margin-top: 25px">
                    <select
                      matNativeControl
                      (change)="selectValueChanged($event)"
                    >
                      <option value="LQR">LQR</option>
                      <option value="LQR_Integrador">LQR + Integrador</option>
                      <option *ngIf="isOberservable()" value="LQG">LQG</option>
                      <option *ngIf="isOberservable()" value="LQG_Integrador">
                        LQG + Integrador
                      </option>
                    </select>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="card-box" style="margin-top: 10px">
              <mat-card-title class="title-card">
                Dinâmica da planta</mat-card-title
              >
              <plotly-plot
                [data]="this.stepMA[0]"
                [layout]="graph.layout"
              ></plotly-plot>
            </div>
          </div>

          <div *ngIf="panelCostMatrixLQR">
            <div class="card-box" style="margin-top: 10px">
              <mat-card-title class="title-card"
                >Definir Matrizes de Custo e Condições Iniciais para
                LQR</mat-card-title
              >
              <div *ngFor="let CI of initialCond">
                <h4>Condições Iniciais</h4>
                <table>
                  <tr *ngFor="let vx of CI.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        class="inputMatriz"
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value=""
                        matInput
                        (blur)="matrizValueChange(CI, i, j, $event)"
                        placeholder="valor"
                      />
                    </td>
                  </tr>
                </table>
              </div>
              <div *ngFor="let myLQR of matriz_custo">
                <h4>Matriz {{ myLQR.label }}</h4>
                <table>
                  <tr *ngFor="let vx of myLQR.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        class="inputMatriz"
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value=""
                        matInput
                        (blur)="matrizValueChange(myLQR, i, j, $event)"
                        placeholder="valor"
                      />
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <button
              mat-raised-button
              color="primary"
              (click)="calc_lqr()"
              style="margin: 10px"
            >
              Calcular
            </button>
            <div *ngIf="panelCalc_lqr">
              <mat-card style="margin-top: 10px">
                <mat-card-title>Resposta para controlador LQR</mat-card-title>
                <h5>Saída</h5>
                <plotly-plot
                  [data]="this.yLQR[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <mat-card style="margin-top: 10px">
                <h5>Sinal de Controle</h5>
                <plotly-plot
                  [data]="this.uLQR[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <button
                style="top: 20px"
                mat-raised-button
                color="basic"
                style="margin: 10px"
                (click)="showCode()"
              >
                Exibir Código
              </button>
              <div *ngIf="this.panelState">
                <mat-card style="margin-top: 10px">
                  <code style="display: block; white-space: pre-wrap">{{
                    codes.lqr
                  }}</code>
                  <button
                    mat-raised-button
                    color="basic"
                    style="margin: 10px"
                    [cdkCopyToClipboard]="codes.lqr"
                    (click)="codeCopied()"
                  >
                    Copiar código
                  </button>
                </mat-card>
              </div>
            </div>
          </div>

          <div *ngIf="panelCostMatrixLQI">
            <mat-card style="margin-top: 10px">
              <mat-card-title>
                Definir Matrizes de Custo para LQR + Integrador</mat-card-title
              >
              <div *ngFor="let myLQI of matriz_custo">
                <h4>Matriz {{ myLQI.label }}</h4>
                <table>
                  <tr *ngFor="let vx of myLQI.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        class="inputMatriz"
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value=""
                        matInput
                        (blur)="matrizValueChange(myLQI, i, j, $event)"
                        placeholder="valor"
                      />
                    </td>
                  </tr>
                </table>
              </div>
            </mat-card>

            <button
              mat-raised-button
              color="primary"
              (click)="calc_lqi()"
              style="margin: 10px"
            >
              Calcular
            </button>
            <div *ngIf="panelCalc_lqi">
              <mat-card style="margin-top: 10px">
                <mat-card-title>Resposta para controlador LQI</mat-card-title>
                <h5>Saída</h5>
                <plotly-plot
                  [data]="this.yLQI[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <mat-card style="margin-top: 10px">
                <mat-card-title>Sinal de Controle</mat-card-title>
                <plotly-plot
                  [data]="this.uLQI[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <button
                mat-raised-button
                color="basic"
                style="margin: 10px"
                (click)="showCode()"
              >
                Exibir Código
              </button>
              <div *ngIf="this.panelState">
                <mat-card style="margin-top: 10px">
                  <code style="display: block; white-space: pre-wrap">{{
                    codes.lqi
                  }}</code>
                  <button
                    mat-raised-button
                    color="basic"
                    style="margin: 10px"
                    [cdkCopyToClipboard]="codes.lqi"
                    (click)="codeCopied()"
                  >
                    Copiar código
                  </button>
                </mat-card>
              </div>
            </div>
          </div>

          <div *ngIf="panelCostMatrixLQG">
            <mat-card style="margin-top: 10px">
              <mat-card-title
                >Definir Matrizes de Custo e Condições Iniciais para
                LQG</mat-card-title
              >
              <div *ngFor="let CI of initialCond">
                <h4>Condições Iniciais</h4>
                <table>
                  <tr *ngFor="let vx of CI.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        class="inputMatriz"
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value=""
                        matInput
                        (blur)="matrizValueChange(CI, i, j, $event)"
                        placeholder="valor"
                      />
                    </td>
                  </tr>
                </table>
              </div>

              <div *ngFor="let myLQG of matriz_custo">
                <h4>Matriz {{ myLQG.label }}</h4>
                <table>
                  <tr *ngFor="let vx of myLQG.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        class="inputMatriz"
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value=""
                        matInput
                        (blur)="matrizValueChange(myLQG, i, j, $event)"
                        placeholder="valor"
                      />
                    </td>
                  </tr>
                </table>
              </div>
              <div *ngFor="let myKalman of matriz_kalman">
                <h4>{{ myKalman.label }}</h4>
                <table>
                  <tr *ngFor="let vx of myKalman.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        class="inputMatriz"
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value=""
                        matInput
                        (blur)="matrizValueChange(myKalman, i, j, $event)"
                        placeholder="valor"
                      />
                    </td>
                  </tr>
                </table>
              </div>
            </mat-card>

            <button
              mat-raised-button
              color="primary"
              (click)="calc_lqg()"
              style="margin: 10px"
            >
              Calcular
            </button>
            <div *ngIf="panelCalc_lqg">
              <mat-card style="margin-top: 10px">
                <mat-card-title>Resposta para controlador LQG</mat-card-title>
                <h4>Saída</h4>
                <plotly-plot
                  [data]="this.yLQG[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <mat-card style="margin-top: 10px">
                <h4>Sinal de Controle</h4>
                <plotly-plot
                  [data]="this.uLQG[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <button
                mat-raised-button
                color="basic"
                style="margin: 10px"
                (click)="showCode()"
              >
                Exibir Código
              </button>
              <div *ngIf="this.panelState">
                <mat-card style="margin-top: 10px">
                  <code style="display: block; white-space: pre-wrap">{{
                    codes.lqg
                  }}</code>
                  <button
                    mat-raised-button
                    color="basic"
                    style="margin: 10px"
                    [cdkCopyToClipboard]="codes.lqg"
                    (click)="codeCopied()"
                  >
                    Copiar código
                  </button>
                </mat-card>
              </div>
            </div>
          </div>

          <div *ngIf="panelCostMatrixLQGI">
            <mat-card style="margin-top: 10px">
              <mat-card-title
                >Definir Matrizes de Custo para LQG + Integrador</mat-card-title
              >
              <div *ngFor="let myLQGI of matriz_custo">
                <h4>Matriz {{ myLQGI.label }}</h4>
                <table>
                  <tr *ngFor="let vx of myLQGI.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        class="inputMatriz"
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value=""
                        matInput
                        (blur)="matrizValueChange(myLQGI, i, j, $event)"
                        placeholder="valor"
                      />
                    </td>
                  </tr>
                </table>
              </div>
              <div *ngFor="let myKalman of matriz_kalman">
                <h4>{{ myKalman.label }}</h4>
                <table>
                  <tr *ngFor="let vx of myKalman.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        class="inputMatriz"
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value=""
                        matInput
                        (blur)="matrizValueChange(myKalman, i, j, $event)"
                        placeholder="valor"
                        style="width: 60px"
                      />
                    </td>
                  </tr>
                </table>
              </div>
            </mat-card>

            <button
              mat-raised-button
              color="primary"
              style="margin: 10px"
              (click)="calc_lqgi()"
              style="margin: 10px"
            >
              Calcular
            </button>
            <div *ngIf="panelCalc_lqgi">
              <mat-card style="margin-top: 10px">
                <mat-card-title
                  >Resposta para controlador LQG com integrador</mat-card-title
                >
                <h4>Saída</h4>
                <plotly-plot
                  [data]="this.yLQGI[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <mat-card style="margin-top: 10px">
                <h4>Sinal de Controle</h4>
                <plotly-plot
                  [data]="this.uLQGI[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>

              <button
                mat-raised-button
                color="basic"
                style="margin: 10px"
                (click)="showCode()"
              >
                Exibir Código
              </button>
              <div *ngIf="this.panelState">
                <mat-card style="margin-top: 10px">
                  <code style="display: block; white-space: pre-wrap">{{
                    codes.lqgi
                  }}</code>
                  <button
                    mat-raised-button
                    color="basic"
                    style="margin: 10px"
                    [cdkCopyToClipboard]="codes.lqgi"
                    (click)="codeCopied()"
                  >
                    Copiar código
                  </button>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
