<app-spinner></app-spinner>
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav fixedInViewport="true" mode="side" opened="{{ true }}">
    <section
      [class.sidenav]="isExpanded"
      [@menuAnimation]="isExpanded ? 'open' : 'closed'"
    >
      <div class="title">
        <p *ngIf="isExpanded">EaseController</p>
        <div class="toggle">
          <mat-icon (click)="toggleMenu()">
            {{ isExpanded ? "first_page" : "dehaze" }}
          </mat-icon>
        </div>
      </div>
      <div *ngIf="isExpanded" [@menuAnimation]="isExpanded ? 'open' : 'closed'">
        <div>
          <h2>Controle em Espaço de Estados em Tempo Contínuo</h2>

          <div>
            <mat-card-title> Parâmetros do sistema</mat-card-title>

            <div class="input-increase">
              <div class="inputRow">
                <p class="inputText">Ordem do Sistema</p>
                <mat-form-field
                  class="example-full-width"
                  appearance="fill"
                  [style.width.px]="80"
                >
                  <mat-label></mat-label>
                  <input
                    type="number"
                    [(ngModel)]="quadN"
                    matInput
                    placeholder="Estado da Matriz"
                    (change)="createTables()"
                  />
                </mat-form-field>
              </div>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Número de Entradas</mat-label>
                <input
                  type="number"
                  [(ngModel)]="inL"
                  matInput
                  placeholder="Número de Entradas"
                  (change)="createTables()"
                />
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Número de Saídas</mat-label>
                <input
                  type="number"
                  [(ngModel)]="outM"
                  matInput
                  placeholder="Número de Saídas"
                  (change)="createTables()"
                />
              </mat-form-field>
            </div>
          </div>

          <mat-card style="margin-top: 10px">
            <mat-card-title> Preenchimento das matrizes</mat-card-title>

            <div *ngFor="let matriz of matrizes; index as c">
              <h4>Matriz {{ matriz.label }}</h4>

              <table>
                <tr *ngFor="let vx of matriz.values; let i = index">
                  <td
                    *ngFor="let vy of vx; let j = index; trackBy: trackByFilter"
                  >
                    <input
                      type="text"
                      id="cell_{{ i }}_{{ j }}"
                      appDecimalNumber
                      value="{{ vy }}"
                      matInput
                      (blur)="matrizValueChange(matriz, i, j, $event)"
                      placeholder="0"
                      style="width: 60px"
                    />
                  </td>
                </tr>
              </table>
            </div>
          </mat-card>

          <button
            mat-raised-button
            color="primary"
            (click)="calc()"
            style="margin: 10px"
          >
            Calcular
          </button>
        </div>
      </div>
    </section>
  </mat-sidenav>
  <mat-sidenav-content [style.margin-left.px]="!isExpanded ? 60 : 350">
    <!-- seu-componente.component.html -->

    <div class="elemento-com-svg-de-fundo">
      <div class="navbar-container">
        <div>
          <div *ngIf="panelMA">
            <mat-card style="margin-top: 10px">
              <mat-card-title
                >Controlabilidade e Observabilidade</mat-card-title
              >
              <h5>{{ control_rank }}</h5>
              <h5>{{ obsv_rank }}</h5>
            </mat-card>

            <mat-card style="margin-top: 10px">
              <mat-card-title> Dinâmica da planta</mat-card-title>
              <h5>Saídas</h5>
              <plotly-plot
                [data]="this.stepMA[0]"
                [layout]="graph.layout"
              ></plotly-plot>
            </mat-card>

            <mat-card style="margin-top: 10px; height: 250px">
              <div class="row; dropdiv;">
                <div class="col">
                  <div ngbDropdown class="d-inline-block">
                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      id="dropdownBasic1"
                      ngbDropdownToggle
                    >
                      Escolha o controlador
                    </button>
                    <div
                      class="dropdown-menu"
                      ngbDropdownMenu
                      aria-labelledby="dropdownBasic1"
                    >
                      <button ngbDropdownItem (click)="costMatrixLqr()">
                        LQR
                      </button>
                      <button ngbDropdownItem (click)="costMatrixLqi()">
                        LQR + Integrador
                      </button>
                      <button ngbDropdownItem (click)="costMatrixLqg()">
                        LQG
                      </button>
                      <button ngbDropdownItem (click)="costMatrixLqgi()">
                        LQG + Integrador
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>

          <div *ngIf="panelCostMatrixLQR">
            <mat-card style="margin-top: 10px">
              <mat-card-title
                >Definir Matrizes de Custo e Condições Iniciais para
                LQR</mat-card-title
              >
              <div *ngFor="let CI of initialCond">
                <h4>Condições Iniciais</h4>
                <table>
                  <tr *ngFor="let vx of CI.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value="{{ vy }}"
                        matInput
                        (blur)="matrizValueChange(CI, i, j, $event)"
                        placeholder="valor"
                        style="width: 60px"
                      />
                    </td>
                  </tr>
                </table>
              </div>
              <div *ngFor="let myLQR of matriz_custo">
                <h4>Matriz {{ myLQR.label }}</h4>
                <table>
                  <tr *ngFor="let vx of myLQR.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value="{{ vy }}"
                        matInput
                        (blur)="matrizValueChange(myLQR, i, j, $event)"
                        placeholder="valor"
                        style="width: 60px"
                      />
                    </td>
                  </tr>
                </table>
              </div>
            </mat-card>

            <button
              mat-raised-button
              color="primary"
              (click)="calc_lqr()"
              style="margin: 10px"
            >
              Calcular
            </button>
            <div *ngIf="panelCalc_lqr">
              <mat-card style="margin-top: 10px">
                <mat-card-title>Resposta para controlador LQR</mat-card-title>
                <h5>Saída</h5>
                <plotly-plot
                  [data]="this.yLQR[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <mat-card style="margin-top: 10px">
                <h5>Sinal de Controle</h5>
                <plotly-plot
                  [data]="this.uLQR[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <button
                style="top: 20px"
                mat-raised-button
                color="basic"
                style="margin: 10px"
                (click)="showCode()"
              >
                Exibir Código
              </button>
              <div *ngIf="this.panelState">
                <mat-card style="margin-top: 10px">
                  <code style="display: block; white-space: pre-wrap">{{
                    codes.lqr
                  }}</code>
                  <button
                    mat-raised-button
                    color="basic"
                    style="margin: 10px"
                    [cdkCopyToClipboard]="codes.lqr"
                    (click)="codeCopied()"
                  >
                    Copiar código
                  </button>
                </mat-card>
              </div>
            </div>
          </div>

          <div *ngIf="panelCostMatrixLQI">
            <mat-card style="margin-top: 10px">
              <mat-card-title>
                Definir Matrizes de Custo para LQR + Integrador</mat-card-title
              >
              <!-- <div  *ngFor="let CI of initialCond">
          <h4>Condições Iniciais</h4>
          <table>
            <tr *ngFor="let vx of CI.values; let i = index">
              <td *ngFor="let vy of vx; let j = index; trackBy: trackByFilter">
                  <input type="text"  id="cell_{{i}}_{{j}}" appDecimalNumber value="{{vy}}" matInput (blur)="matrizVaueChange(CI, i, j, $event)" placeholder="valor"
                        style="width: 60px;">
              </td>
            </tr>
          </table>
        </div> -->
              <div *ngFor="let myLQI of matriz_custo">
                <h4>Matriz {{ myLQI.label }}</h4>
                <table>
                  <tr *ngFor="let vx of myLQI.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value="{{ vy }}"
                        matInput
                        (blur)="matrizValueChange(myLQI, i, j, $event)"
                        placeholder="valor"
                        style="width: 60px"
                      />
                    </td>
                  </tr>
                </table>
              </div>
            </mat-card>

            <button
              mat-raised-button
              color="primary"
              (click)="calc_lqi()"
              style="margin: 10px"
            >
              Calcular
            </button>
            <div *ngIf="panelCalc_lqi">
              <mat-card style="margin-top: 10px">
                <mat-card-title>Resposta para controlador LQI</mat-card-title>
                <h5>Saída</h5>
                <plotly-plot
                  [data]="this.yLQI[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <mat-card style="margin-top: 10px">
                <mat-card-title>Sinal de Controle</mat-card-title>
                <plotly-plot
                  [data]="this.uLQI[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <button
                mat-raised-button
                color="basic"
                style="margin: 10px"
                (click)="showCode()"
              >
                Exibir Código
              </button>
              <div *ngIf="this.panelState">
                <mat-card style="margin-top: 10px">
                  <code style="display: block; white-space: pre-wrap">{{
                    codes.lqi
                  }}</code>
                  <button
                    mat-raised-button
                    color="basic"
                    style="margin: 10px"
                    [cdkCopyToClipboard]="codes.lqi"
                    (click)="codeCopied()"
                  >
                    Copiar código
                  </button>
                </mat-card>
              </div>
            </div>
          </div>

          <div *ngIf="panelCostMatrixLQG">
            <mat-card style="margin-top: 10px">
              <mat-card-title
                >Definir Matrizes de Custo e Condições Iniciais para
                LQG</mat-card-title
              >
              <div *ngFor="let CI of initialCond">
                <h4>Condições Iniciais</h4>
                <table>
                  <tr *ngFor="let vx of CI.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value="{{ vy }}"
                        matInput
                        (blur)="matrizValueChange(CI, i, j, $event)"
                        placeholder="valor"
                        style="width: 60px"
                      />
                    </td>
                  </tr>
                </table>
              </div>

              <div *ngFor="let myLQG of matriz_custo">
                <h4>Matriz {{ myLQG.label }}</h4>
                <table>
                  <tr *ngFor="let vx of myLQG.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value="{{ vy }}"
                        matInput
                        (blur)="matrizValueChange(myLQG, i, j, $event)"
                        placeholder="valor"
                        style="width: 60px"
                      />
                    </td>
                  </tr>
                </table>
              </div>
              <div *ngFor="let myKalman of matriz_kalman">
                <h4>{{ myKalman.label }}</h4>
                <table>
                  <tr *ngFor="let vx of myKalman.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value="{{ vy }}"
                        matInput
                        (blur)="matrizValueChange(myKalman, i, j, $event)"
                        placeholder="valor"
                        style="width: 60px"
                      />
                    </td>
                  </tr>
                </table>
              </div>
            </mat-card>

            <button
              mat-raised-button
              color="primary"
              (click)="calc_lqg()"
              style="margin: 10px"
            >
              Calcular
            </button>
            <div *ngIf="panelCalc_lqg">
              <mat-card style="margin-top: 10px">
                <mat-card-title>Resposta para controlador LQG</mat-card-title>
                <h4>Saída</h4>
                <plotly-plot
                  [data]="this.yLQG[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <mat-card style="margin-top: 10px">
                <h4>Sinal de Controle</h4>
                <plotly-plot
                  [data]="this.uLQG[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <button
                mat-raised-button
                color="basic"
                style="margin: 10px"
                (click)="showCode()"
              >
                Exibir Código
              </button>
              <div *ngIf="this.panelState">
                <mat-card style="margin-top: 10px">
                  <code style="display: block; white-space: pre-wrap">{{
                    codes.lqg
                  }}</code>
                  <button
                    mat-raised-button
                    color="basic"
                    style="margin: 10px"
                    [cdkCopyToClipboard]="codes.lqg"
                    (click)="codeCopied()"
                  >
                    Copiar código
                  </button>
                </mat-card>
              </div>
            </div>
          </div>

          <div *ngIf="panelCostMatrixLQGI">
            <mat-card style="margin-top: 10px">
              <mat-card-title
                >Definir Matrizes de Custo para LQG + Integrador</mat-card-title
              >
              <div *ngFor="let myLQGI of matriz_custo">
                <h4>Matriz {{ myLQGI.label }}</h4>
                <table>
                  <tr *ngFor="let vx of myLQGI.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value="{{ vy }}"
                        matInput
                        (blur)="matrizValueChange(myLQGI, i, j, $event)"
                        placeholder="valor"
                        style="width: 60px"
                      />
                    </td>
                  </tr>
                </table>
              </div>
              <div *ngFor="let myKalman of matriz_kalman">
                <h4>{{ myKalman.label }}</h4>
                <table>
                  <tr *ngFor="let vx of myKalman.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value="{{ vy }}"
                        matInput
                        (blur)="matrizValueChange(myKalman, i, j, $event)"
                        placeholder="valor"
                        style="width: 60px"
                      />
                    </td>
                  </tr>
                </table>
              </div>
            </mat-card>

            <button
              mat-raised-button
              color="primary"
              style="margin: 10px"
              (click)="calc_lqgi()"
              style="margin: 10px"
            >
              Calcular
            </button>
            <div *ngIf="panelCalc_lqgi">
              <mat-card style="margin-top: 10px">
                <mat-card-title
                  >Resposta para controlador LQG com integrador</mat-card-title
                >
                <h4>Saída</h4>
                <plotly-plot
                  [data]="this.yLQGI[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <mat-card style="margin-top: 10px">
                <h4>Sinal de Controle</h4>
                <plotly-plot
                  [data]="this.uLQGI[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>

              <button
                mat-raised-button
                color="basic"
                style="margin: 10px"
                (click)="showCode()"
              >
                Exibir Código
              </button>
              <div *ngIf="this.panelState">
                <mat-card style="margin-top: 10px">
                  <code style="display: block; white-space: pre-wrap">{{
                    codes.lqgi
                  }}</code>
                  <button
                    mat-raised-button
                    color="basic"
                    style="margin: 10px"
                    [cdkCopyToClipboard]="codes.lqgi"
                    (click)="codeCopied()"
                  >
                    Copiar código
                  </button>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
