<mat-toolbar class="appBar">
  <span>
    <img src="assets/png/logo1bg.png" class="angular-logo" />
  </span>
  <a class="easyController">EasyController</a>
  <span class="fill-remaining-space"></span>
  <button *ngIf="isLargeScreen" class="button" mat-button>
    SOBRE A FERRAMENTA
  </button>

  <button
    *ngIf="!hasValidUser() && !loading && isLargeScreen"
    class="button-right"
    mat-button
    routerLink="login"
  >
    ACESSAR SUA CONTA
  </button>

  <button
    *ngIf="!hasValidUser() && !loading && !isLargeScreen"
    class="button-right"
    mat-button
    routerLink="login"
  >
    LOGIN
  </button>

  <button
    *ngIf="hasValidUser() && isLargeScreen"
    mat-button
    [matMenuTriggerFor]="menu"
    class="button-right"
  >
    Olá,
    {{ userLogged!.email }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">Sair</button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav-content>
    <div class="elemento-com-svg-de-fundo">
      <div class="navbar-container" style="padding: 25px">
        <!-- Conteúdo da Página -->
        <div class="landing-page">
          <h1 class="light-text">Bem-vindo ao EasyController</h1>
          <p class="light-text">
            Uma ferramenta poderosa para controle de sistemas em tempo e
            frequência.
          </p>

          <!-- Opções para escolher entre Laplace e Tempo -->
          <div class="options">
            <div class="option">
              <h2>Controlador em Laplace</h2>
              <p>
                Crie controladores no domínio de Laplace para sua aplicação.
              </p>
              <div class="light-button" mat-button routerLink="laplace">
                Começar
              </div>
            </div>

            <div style="width: 48px"></div>

            <div class="option">
              <h2>Controlador no Tempo</h2>
              <p>Crie controladores no domínio do tempo para sua aplicação.</p>
              <div class="light-button" mat-button routerLink="laplace">
                Começar
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
