<mat-toolbar color="primary">
  <span>
    <img src="assets/png/logo1bg.png" class="angular-logo" />
    Angular NavBar
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="laplace">Laplace</button>
  <button mat-button routerLink="tempo">Tempo</button>
  <button mat-button>Login</button>
  <button mat-button>Logout</button>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav-content>
    <div class="elemento-com-svg-de-fundo">
      <div class="navbar-container" style="padding: 25px">
        <div class="card-box">Ariel sam</div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
