/* seu-componente.component.css */

.elemento-com-svg-de-fundo {
  width: 100%;
  height: 100vh;
  background-size: cover; /* Ajuste o tamanho da imagem de fundo conforme necessário */
  background-position: center; /* Ajuste a posição da imagem de fundo conforme necessário */
  background-image: url("/assets/svg/bg.svg");
  background-color: #080f25;
  color: #b4bddf;
}

mat-sidenav[style] {
  visibility: visible !important;
  background-color: #080f25;
  border-right: 0.6px solid #37446b;
  color: #aeb9e1;
}
.mat-drawer {
  transform: none !important;
}

.content-container {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 25px;
  color: white;
}
