<app-spinner></app-spinner>
<mat-sidenav-container autosize>
  <mat-sidenav
    *ngIf="isLargeScreen"
    #sidenav
    fixedInViewport="true"
    mode="side"
    opened="{{ true }}"
  >
    <section [class.sidenav]="isExpanded">
      <div class="title">
        <p *ngIf="isExpanded">EasyController</p>
        <div class="toggle">
          <mat-icon (click)="toggleMenu()">
            {{ isExpanded ? "first_page" : "dehaze" }}
          </mat-icon>
        </div>
      </div>
      <div *ngIf="isExpanded">
        <div>
          <h2 class="parametrosDoSistema">Controle Moderno</h2>

          <!-- PARAMETROS DO SISTEMA - ITENS EM ROW -->
          <div class="matrizes-input">
            <!-- <p class="titles-navBar">Parâmetros do sistema</p> -->

            <div class="input-increase">
              <div class="inputRow">
                <h5 class="inputText">Ordem do Sistema</h5>
                <mat-form-field appearance="fill" [style.width.px]="80">
                  <mat-label></mat-label>
                  <input
                    type="number"
                    [(ngModel)]="quadN"
                    matInput
                    placeholder="Estado da Matriz"
                    (change)="createTables()"
                  />
                </mat-form-field>
              </div>

              <div class="inputRow">
                <h5 class="inputText">Número de Entradas</h5>
                <mat-form-field appearance="fill" [style.width.px]="80">
                  <mat-label></mat-label>
                  <input
                    type="number"
                    [(ngModel)]="inL"
                    matInput
                    placeholder="Número de Entradas"
                    (change)="createTables()"
                  />
                </mat-form-field>
              </div>
              <div class="inputRow">
                <h5 class="inputText">Número de Saídas</h5>
                <mat-form-field appearance="fill" [style.width.px]="80">
                  <mat-label></mat-label>
                  <input
                    type="number"
                    [(ngModel)]="outM"
                    matInput
                    placeholder="Número de Saídas"
                    (change)="createTables()"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- MATRIZES -->
          <div class="matrizes-input">
            <p class="titles-navBar">
              Insira aqui os parâmetros das matrizes da planta a ser controlada
            </p>

            <div *ngFor="let matriz of matrizes; index as c">
              <h5>Matriz {{ matriz.label }}</h5>

              <table>
                <tr *ngFor="let vx of matriz.values; let i = index">
                  <td
                    *ngFor="let vy of vx; let j = index; trackBy: trackByFilter"
                  >
                    <input
                      class="inputMatriz"
                      type="text"
                      id="cell_{{ i }}_{{ j }}"
                      appDecimalNumber
                      value="0"
                      matInput
                      (blur)="matrizValueChange(matriz, i, j, $event)"
                      placeholder="0"
                      defaultValue=""
                      (keydown)="handleEnterKey($event, i, j)"
                    />
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row">
            <button
              mat-raised-button
              color="primary"
              (click)="calcularDinamicaDaPlanta()"
              style="margin-left: 25px"
            >
              Mostrar dinâmica da planta
            </button>
            <button class="iconDelete" (click)="limparInput()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <button
            mat-raised-button
            color="primary"
            style="margin-left: 25px; margin-top: 25px; bottom: 20px"
            routerLink="/"
          >
            Voltar para Home
          </button>
        </div>
      </div>
    </section>
  </mat-sidenav>
  <mat-sidenav-content
    [style.margin-left.px]="isLargeScreen ? (isExpanded ? 350 : 75) : 0"
  >
    <div class="elemento-com-svg-de-fundo">
      <div class="navbar-container" style="padding: 25px">
        <div>
          <div class="card-box-nav" *ngIf="!isLargeScreen">
            <section [class.sidenav]="isExpanded">
              <div class="title">
                <p *ngIf="isExpanded">EasyController</p>
              </div>
              <div *ngIf="isExpanded">
                <div>
                  <h2 class="parametrosDoSistema">Controle Moderno</h2>

                  <!-- PARAMETROS DO SISTEMA - ITENS EM ROW -->
                  <div class="matrizes-input">
                    <!-- <p class="titles-navBar">Parâmetros do sistema</p> -->

                    <div class="input-increase">
                      <div class="inputRow">
                        <h5 class="inputText">Ordem do Sistema</h5>
                        <mat-form-field appearance="fill" [style.width.px]="60">
                          <mat-label></mat-label>
                          <input
                            type="number"
                            [(ngModel)]="quadN"
                            matInput
                            placeholder="Estado da Matriz"
                            (change)="createTables()"
                          />
                        </mat-form-field>
                      </div>

                      <div class="inputRow">
                        <h5 class="inputText">Número de Entradas</h5>
                        <mat-form-field appearance="fill" [style.width.px]="60">
                          <mat-label></mat-label>
                          <input
                            type="number"
                            [(ngModel)]="inL"
                            matInput
                            placeholder="Número de Entradas"
                            (change)="createTables()"
                          />
                        </mat-form-field>
                      </div>
                      <div class="inputRow">
                        <h5 class="inputText">Número de Saídas</h5>
                        <mat-form-field appearance="fill" [style.width.px]="60">
                          <mat-label></mat-label>
                          <input
                            type="number"
                            [(ngModel)]="outM"
                            matInput
                            placeholder="Número de Saídas"
                            (change)="createTables()"
                          />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <!-- MATRIZES -->
                  <div class="matrizes-input">
                    <p class="titles-navBar">
                      Insira aqui os parâmetros das matrizes da planta a ser
                      controlada
                    </p>

                    <div *ngFor="let matriz of matrizes; index as c">
                      <h5>Matriz {{ matriz.label }}</h5>

                      <table>
                        <tr *ngFor="let vx of matriz.values; let i = index">
                          <td
                            *ngFor="
                              let vy of vx;
                              let j = index;
                              trackBy: trackByFilter
                            "
                          >
                            <input
                              class="inputMatriz"
                              type="text"
                              id="cell_{{ i }}_{{ j }}"
                              appDecimalNumber
                              value="0"
                              matInput
                              (blur)="matrizValueChange(matriz, i, j, $event)"
                              placeholder="0"
                              defaultValue=""
                              (keydown)="handleEnterKey($event, i, j)"
                            />
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <div class="row">
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="calcularDinamicaDaPlanta()"
                      style="margin-left: 25px"
                    >
                      Mostrar dinâmica da planta
                    </button>
                    <button class="iconDelete" (click)="limparInput()">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div *ngIf="panelMA">
            <!--Dinâmica da planta  -->
            <div class="card-box" style="margin-bottom: 15px">
              <mat-card-title class="title-card">
                A resposta da saída da planta ao degrau unitário
                é:</mat-card-title
              >
              <plotly-plot
                [data]="this.stepMA[0]"
                [layout]="graph.layout"
              ></plotly-plot>
            </div>

            <!-- Controlabilidade -->
            <div class="card-box">
              <div class="row-controlabilidade">
                <div>
                  <p
                    class="text-card"
                    style="margin-top: 10px; font-size: 26px"
                  >
                    {{ control_rankShow }}
                  </p>
                  <p style="margin-top: 6px; font-size: 26px" class="text-card">
                    {{ obsv_rankShow }}
                  </p>
                  <!-- </div> -->
                  <br>
                  <br>
                  <!-- <div style="max-width: 360px"> -->
                  <mat-card-title style="font-size: 18px">
                    Período de Amostragem (s)
                  </mat-card-title>
                  <!--AMOSTRAGEM-->
                  <div class="rowInputStepTwo">
                    
                    <mat-form-field style="margin-top: 25px" >
                      <select matNativeControl (change)="selectAmostragem($event)" #selectAmostragemElement>
                        <option value="AMOST-AUTO">Automático</option>
                        <option value="AMOST-MANUAL">Manual</option>
                      </select>
                    </mat-form-field>
    
                    <div *ngIf="isManualAmostragem()">
                      <mat-form-field appearance="fill">
                        <mat-label>Periodo de amostragem (s)</mat-label>
                        <input
                          [(ngModel)]="inputAmostragem"
                          pattern="^\d*(\.\d{0,2})?$"
                          matInput
                          placeholder="Periodo do amostragem (s)"
                          value=""
                          id="amostragem"
                          [disabled]="!hasAmostragem"
                        />
                      </mat-form-field>
                    </div>
                  </div>
    
                  <mat-card-title style="font-size: 18px">
                    Saturação do sinal de controle
                  </mat-card-title>
                  <!-- SATURACAO -->
                  <div class="rowInputStepTwo">
                    
                    <mat-form-field style="margin-top: 25px">
                      <select matNativeControl (change)="selectSaturacao($event)" #selectSaturacaoElement>
                        <option value="SAT-AUTO">Ilimitado</option>
                        <option value="SAT-MANUAL">Limitado</option>
                      </select>
                    </mat-form-field>
                    
                    <div *ngIf="isManualSaturacao()" style="width: 100%;">
                      <div *ngFor="let SAT of matriz_SA">
                        <h4 class="text-card" style="margin-top: 24px">Condições de Saturação</h4>
                        <table>
                          <tr *ngFor="let vx of SAT.values; let i = index">
                            <td *ngFor="let vy of vx; let j = index; trackBy: trackByFilter">
                              <input
                                class="inputMatriz"
                                type="text"
                                id="cell_{{ i }}_{{ j }}"
                                appDecimalNumber
                                [value]="vy"
                                matInput
                                (blur)="matrizValueChange(SAT, i, j, $event)"
                                placeholder="0"
                              />
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div *ngIf="isLQI_LQGI()">
                    <!-- REFERENCIA -->
                      <mat-card-title style="font-size: 18px">
                        Referência/set-point
                      </mat-card-title>
                    <div class="rowInputStepTwo">
                      <mat-form-field style="margin-top: 25px">
                        <select matNativeControl (change)="selectReferencia($event)" #selectReferenciaElement>
                          <option value="REF-AUTO">Unitário</option>
                          <option value="REF-MANUAL">Inserir</option>
                        </select>
                      </mat-form-field>
                      
                      <div *ngIf="isManualReferencia()" style="width: 100%;">
                        <div *ngFor="let REF of matriz_REF">
                          <h4 class="text-card" style="margin-top: 24px">Valor de Referência/set-point</h4>
                          <table>
                            <tr *ngFor="let vx of REF.values; let i = index">
                              <td *ngFor="let vy of vx; let j = index; trackBy: trackByFilter">
                                <input
                                  class="inputMatriz"
                                  type="text"
                                  id="cell_{{ i }}_{{ j }}"
                                  appDecimalNumber
                                  [value]="vy"
                                  matInput
                                  (blur)="matrizValueChange(REF, i, j, $event)"
                                  placeholder="0"
                                />
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="isControlable() && isLargeScreen" class="vlBig"></div>
                <div *ngIf="!isLargeScreen" class="vlMobile"></div>
                <!-- divisor na vertical -->
                <div *ngIf="isControlable()" class="col">
                  <mat-card-title class="title-card" style="font-size: 18px"
                    >Escolha o controlador<br
                  /></mat-card-title>
                  <mat-form-field style="margin-top: 25px">
                    <select
                      matNativeControl
                      (change)="selectValueChanged($event)" 
                      #selectLQI_LQGIElement
                    >
                      <option value="LQR">LQR</option>
                      <option value="LQR_Integrador">LQR + Integrador</option>
                      <option *ngIf="isOberservable()" value="LQG">LQG</option>
                      <option *ngIf="isOberservable()" value="LQG_Integrador">
                        LQG + Integrador
                      </option>
                    </select>
                  </mat-form-field>
                  <!-- show image -->
                  <div>
                    <img
                      src="{{ imageControl }}"
                      alt="Controlador"
                      style="margin-top: 10px; max-width: 400px; max-height: 250px; object-fit: cover;"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="panelCostMatrixLQR">
            <div class="card-box" style="margin-top: 10px">
              <mat-card-title class="title-card"
                >Definir Matrizes de Custo e Condições Iniciais para
                LQR</mat-card-title
              >
              <div *ngFor="let CI of initialCond">
                <h4 class="text-card" style="margin-top: 24px">
                  Condições Iniciais
                </h4>
                <table>
                  <tr *ngFor="let vx of CI.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        class="inputMatriz"
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value="0"
                        matInput
                        (blur)="matrizValueChange(CI, i, j, $event)"
                        placeholder="0"
                      />
                    </td>
                  </tr>
                </table>
              </div>
              <div *ngFor="let myLQR of matriz_custo">
                <h4 class="text-card">Matriz {{ myLQR.label }}</h4>
                <table>
                  <tr *ngFor="let vx of myLQR.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        class="inputMatriz"
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value="0"
                        matInput
                        (blur)="matrizValueChange(myLQR, i, j, $event)"
                        placeholder="0"
                      />
                    </td>
                  </tr>
                </table>
              </div>
              <button
                mat-raised-button
                color="primary"
                (click)="calc_lqr()"
                style="margin: 10px"
              >
                Fechar a malha!
              </button>
            </div>

            <div *ngIf="panelCalc_lqr">
              <div class="card-box" style="margin-top: 24px">
                <mat-card-title class="title-card"
                  >Resposta da(s) saída(s) para o LQR</mat-card-title
                >
                <plotly-plot
                  [data]="this.yLQR[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </div>
              <mat-card style="margin-top: 10px">
                <mat-card-title class="title-card"
                  >Sinal de Controle</mat-card-title
                >
                <plotly-plot
                  [data]="this.uLQR[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <button
                *ngIf="!this.panelState"
                mat-raised-button
                color="primary"
                style="margin: 10px"
                (click)="showCode()"
              >
                Exibir Código
              </button>
              <div *ngIf="this.panelState">
                <mat-card style="margin-top: 10px">
                  <code style="display: block; white-space: pre-wrap">{{
                    codes.lqr
                  }}</code>
                  <button
                    mat-raised-button
                    color="primary"
                    style="margin: 10px"
                    [cdkCopyToClipboard]="codes.lqr"
                    (click)="codeCopied()"
                  >
                    Copiar código
                  </button>
                </mat-card>
              </div>
            </div>
          </div>

          <div *ngIf="panelCostMatrixLQI">
            <div class="card-box" style="margin-top: 10px">
              <mat-card-title class="title-card">
                Definir Matrizes de Custo para LQR + Integrador</mat-card-title
              >
              <div *ngFor="let myLQI of matriz_custo">
                <h4 class="text-card">Matriz {{ myLQI.label }}</h4>
                <table>
                  <tr *ngFor="let vx of myLQI.values; let i = index">
                    <td
                      *ngFor="
                        let vy of vx;
                        let j = index;
                        trackBy: trackByFilter
                      "
                    >
                      <input
                        class="inputMatriz"
                        type="text"
                        id="cell_{{ i }}_{{ j }}"
                        appDecimalNumber
                        value="0"
                        matInput
                        (blur)="matrizValueChange(myLQI, i, j, $event)"
                        placeholder="0"
                      />
                    </td>
                  </tr>
                </table>
              </div>
              <button
                mat-raised-button
                color="primary"
                (click)="calc_lqi()"
                style="margin: 10px"
              >
                Calcular
              </button>
            </div>

            <div *ngIf="panelCalc_lqi">
              <mat-card style="margin-top: 10px">
                <mat-card-title
                  >Resposta da(s) saída(s) para o LQI</mat-card-title
                >
                <plotly-plot
                  [data]="this.yLQI[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <mat-card style="margin-top: 10px">
                <mat-card-title>Sinal de Controle</mat-card-title>
                <plotly-plot
                  [data]="this.uLQI[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <button
                *ngIf="!this.panelState"
                mat-raised-button
                color="primary"
                style="margin: 10px"
                (click)="showCode()"
              >
                Exibir Código
              </button>
              <div *ngIf="this.panelState">
                <mat-card style="margin-top: 10px">
                  <code style="display: block; white-space: pre-wrap">{{
                    codes.lqi
                  }}</code>
                  <button
                    mat-raised-button
                    color="primary"
                    style="margin: 10px"
                    [cdkCopyToClipboard]="codes.lqi"
                    (click)="codeCopied()"
                  >
                    Copiar código
                  </button>
                </mat-card>
              </div>
            </div>
          </div>

          <div *ngIf="panelCostMatrixLQG" style="margin-top: 24px">
            <mat-card style="margin-top: 24px">
              <!-- TITLE -->
              <mat-card-title
                >Definir Matrizes de Custo e Condições Iniciais para
                LQG</mat-card-title
              >

              <div class="rowMatrixLQG">
                <div style="margin-top: 24px">
                  <!-- CONDICAO INICIAL -->
                  <div *ngFor="let CI of initialCond">
                    <h4 class="text-card">Condições Iniciais</h4>
                    <table>
                      <tr *ngFor="let vx of CI.values; let i = index">
                        <td
                          *ngFor="
                            let vy of vx;
                            let j = index;
                            trackBy: trackByFilter
                          "
                        >
                          <input
                            class="inputMatriz"
                            type="text"
                            id="cell_{{ i }}_{{ j }}"
                            appDecimalNumber
                            value="0"
                            matInput
                            (blur)="matrizValueChange(CI, i, j, $event)"
                            placeholder="0"
                          />
                        </td>
                      </tr>
                    </table>
                  </div>

                  <div *ngFor="let myLQG of matriz_custo">
                    <h4 class="text-card">Matriz {{ myLQG.label }}</h4>
                    <table>
                      <tr *ngFor="let vx of myLQG.values; let i = index">
                        <td
                          *ngFor="
                            let vy of vx;
                            let j = index;
                            trackBy: trackByFilter
                          "
                        >
                          <input
                            class="inputMatriz"
                            type="text"
                            id="cell_{{ i }}_{{ j }}"
                            appDecimalNumber
                            value="0"
                            matInput
                            (blur)="matrizValueChange(myLQG, i, j, $event)"
                            placeholder="0"
                          />
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- MATRIZ QN & RN -->
                <div style="margin-top: 24px">
                  <div *ngFor="let myKalman of matriz_kalman">
                    <h4 class="text-card">{{ myKalman.label }}</h4>
                    <table>
                      <tr *ngFor="let vx of myKalman.values; let i = index">
                        <td
                          *ngFor="
                            let vy of vx;
                            let j = index;
                            trackBy: trackByFilter
                          "
                        >
                          <input
                            class="inputMatriz"
                            type="text"
                            id="cell_{{ i }}_{{ j }}"
                            appDecimalNumber
                            value="0"
                            matInput
                            (blur)="matrizValueChange(myKalman, i, j, $event)"
                            placeholder="0"
                          />
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <button
                mat-raised-button
                color="primary"
                (click)="calc_lqg()"
                style="margin: 10px"
              >
                Calcular controlador LQG
              </button>
            </mat-card>

            <div *ngIf="panelCalc_lqg" style="margin-top: 24px">
              <mat-card style="margin-top: 10px">
                <mat-card-title
                  >Resposta da(s) saída(s) para o LQG</mat-card-title
                >

                <plotly-plot
                  [data]="this.yLQG[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <mat-card style="padding-top: 24px">
                <h4 class="title-card">Sinal de Controle</h4>
                <plotly-plot
                  [data]="this.uLQG[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <button
                *ngIf="!this.panelState"
                mat-raised-button
                color="primary"
                style="margin: 10px"
                (click)="showCode()"
              >
                Exibir Código
              </button>
              <div *ngIf="this.panelState">
                <mat-card style="margin-top: 10px">
                  <code style="display: block; white-space: pre-wrap">{{
                    codes.lqg
                  }}</code>
                  <button
                    mat-raised-button
                    color="primary"
                    style="margin: 10px"
                    [cdkCopyToClipboard]="codes.lqg"
                    (click)="codeCopied()"
                  >
                    Copiar código
                  </button>
                </mat-card>
              </div>
            </div>
          </div>

          <div *ngIf="panelCostMatrixLQGI">
            <mat-card style="margin-top: 10px">
              <mat-card-title
                >Definir Matrizes de Custo para LQG + Integrador</mat-card-title
              >
              <div class="rowMatrixLQG">
                <div style="margin-top: 24px">
                  <div *ngFor="let myLQGI of matriz_custo">
                    <h4 class="text-card">Matriz {{ myLQGI.label }}</h4>
                    <table>
                      <tr *ngFor="let vx of myLQGI.values; let i = index">
                        <td
                          *ngFor="
                            let vy of vx;
                            let j = index;
                            trackBy: trackByFilter
                          "
                        >
                          <input
                            class="inputMatriz"
                            type="text"
                            id="cell_{{ i }}_{{ j }}"
                            appDecimalNumber
                            value="0"
                            matInput
                            (blur)="matrizValueChange(myLQGI, i, j, $event)"
                            placeholder="0"
                          />
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div style="margin-top: 24px">
                  <div *ngFor="let myKalman of matriz_kalman">
                    <h4 class="text-card">{{ myKalman.label }}</h4>
                    <table>
                      <tr *ngFor="let vx of myKalman.values; let i = index">
                        <td
                          *ngFor="
                            let vy of vx;
                            let j = index;
                            trackBy: trackByFilter
                          "
                        >
                          <input
                            class="inputMatriz"
                            type="text"
                            id="cell_{{ i }}_{{ j }}"
                            appDecimalNumber
                            value="0"
                            matInput
                            (blur)="matrizValueChange(myKalman, i, j, $event)"
                            placeholder="0"
                          />
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>

              <button
                mat-raised-button
                color="primary"
                style="margin: 10px"
                (click)="calc_lqgi()"
                style="margin: 10px"
              >
                Calcular controlador LQG com integrador
              </button>
            </mat-card>

            <div *ngIf="panelCalc_lqgi">
              <mat-card style="margin-top: 10px">
                <mat-card-title
                  >Resposta da(s) saída(s) para o LQG com
                  integrador</mat-card-title
                >
                <plotly-plot
                  [data]="this.yLQGI[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>
              <mat-card style="margin-top: 10px">
                <h4 class="title-card">Sinal de Controle</h4>
                <plotly-plot
                  [data]="this.uLQGI[0]"
                  [layout]="graphCI.layout"
                ></plotly-plot>
              </mat-card>

              <button
                *ngIf="!this.panelState"
                mat-raised-button
                color="primary"
                style="margin: 10px"
                (click)="showCode()"
              >
                Exibir Código
              </button>
              <div *ngIf="this.panelState">
                <mat-card style="margin-top: 10px">
                  <code style="display: block; white-space: pre-wrap">{{
                    codes.lqgi
                  }}</code>
                  <button
                    mat-raised-button
                    color="primary"
                    style="margin: 10px"
                    [cdkCopyToClipboard]="codes.lqgi"
                    (click)="codeCopied()"
                  >
                    Copiar código
                  </button>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
