<mat-sidenav-container autosize>
  <mat-sidenav #sidenav fixedInViewport="true" mode="side" opened="{{ true }}">
    <section [class.sidenav]="isExpanded">
      <div class="title">
        <p *ngIf="isExpanded">EaseController</p>
        <div class="toggle">
          <mat-icon (click)="toggleMenu()">
            {{ isExpanded ? "first_page" : "dehaze" }}
          </mat-icon>
        </div>
      </div>
      <div *ngIf="isExpanded">
        <div>
          <h2 class="parametrosDoSistema">
            Controle em Espaço de Estados em Tempo Contínuo
          </h2>

          <!-- INSIRA UMA FUNÇÃO TRANSFERÊNCIA PARA P(S) -->
          <div class="matrizes-input">
            <p class="titles-navBar">
              INSIRA UMA FUNÇÃO TRANSFERÊNCIA PARA P(S)
            </p>

            <div>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Numerador para P(s):</mat-label>
                <input
                  [(ngModel)]="numeradorPs"
                  matInput
                  placeholder="1,2,3"
                  value=""
                  (keyup.enter)="focusNext('input1')"
                  id="input0"
                />
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Denomidador para P(s):</mat-label>
                <input
                  [(ngModel)]="denominadorPs"
                  matInput
                  placeholder="1,2,3"
                  value=""
                  (keyup.enter)="focusNext('input2')"
                  id="input1"
                />
              </mat-form-field>
            </div>
          </div>

          <!-- INSIRA UMA FUNÇÃO TRANSFERÊNCIA PARA D(S) -->
          <div class="matrizes-input">
            <p class="titles-navBar">
              INSIRA UMA FUNÇÃO TRANSFERÊNCIA PARA D(S)
            </p>

            <div>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Numerador para P(s):</mat-label>
                <input
                  [(ngModel)]="numeradorDs"
                  matInput
                  placeholder="1,2,3"
                  value=""
                  (keyup.enter)="focusNext('input3')"
                  id="input2"
                />
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Denomidador para P(s):</mat-label>
                <input
                  [(ngModel)]="denominadorDs"
                  matInput
                  placeholder="1,2,3"
                  value=""
                  (keyup.enter)="calc()"
                  id="input3"
                />
              </mat-form-field>
            </div>
          </div>

          <!--BOTOES-->
          <div class="row">
            <button
              mat-raised-button
              color="primary"
              (click)="calc()"
              style="margin-left: 25px"
            >
              Calcular dinâmica da planta
            </button>
            <button class="iconDelete" (click)="limparInput()">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
  </mat-sidenav>
  <mat-sidenav-content
    [style.margin-left.px]="isLargeScreen ? (isExpanded ? 350 : 75) : 0"
  >
    <div class="elemento-com-svg-de-fundo">
      <div class="navbar-container" style="padding: 25px">
        <div *ngIf="hasStepOne()" class="card-box">
          <div class="card-body">
            <h5 class="title-card">
              Sua resposta ao degrau unitário em malha aberta é:
            </h5>
            <div
              class="al"
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
              "
            >
              <div class="text-card" #numeradorEq1></div>
              <div class="text-card" #barraEq1></div>
              <div class="text-card" #denominadorEq1></div>
            </div>

            <plotly-plot
              [data]="this.graficoDegrauUnitario[0]"
              [layout]="graph.layout"
            ></plotly-plot>
          </div>
        </div>

        <div *ngIf="!hasStepOne()" class="card-box" style="margin-top: 25px">
          <div class="card-body">
            <h5 class="title-card">
              Se o sistema acima é o desejado defina os parâmetros para o
              controle em malha fechada
            </h5>

            <div class="row">
              <div>
                <!-- AMOSTRAGEM-->
                <div style="margin-right: 25px" class="rowInputStepTwo">
                  <mat-checkbox
                    [(ngModel)]="hasAmostragem"
                    (ngModelChange)="changeAmostragem()"
                    class="checkboxEnable"
                    color="primary"
                  ></mat-checkbox>

                  <mat-form-field appearance="fill">
                    <mat-label>Periodo do amostragem (seg)</mat-label>
                    <input
                      [(ngModel)]="inputAmostragem"
                      pattern="[0-9]*"
                      matInput
                      placeholder="Periodo do amostragem (seg)"
                      value=""
                      (keyup.enter)="focusNext('input5')"
                      id="input4"
                      [disabled]="!hasAmostragem"
                    />
                  </mat-form-field>
                </div>

                <!-- SATURACAO -->
                <div style="margin-right: 25px" class="rowInputStepTwo">
                  <mat-checkbox
                    [(ngModel)]="hasSaturacao"
                    (ngModelChange)="changeSaturacao()"
                    class="checkboxEnable"
                    color="primary"
                  ></mat-checkbox>
                  <mat-form-field appearance="fill">
                    <mat-label>Valor de saturação</mat-label>
                    <input
                      [(ngModel)]="inputSaturacao"
                      pattern="[0-9]*"
                      matInput
                      placeholder="Valor de saturação"
                      value=""
                      (keyup.enter)="focusNext('input6')"
                      id="input5"
                      [disabled]="!hasSaturacao"
                    />
                  </mat-form-field>
                </div>

                <!-- REFERENCIA -->
                <div style="margin-right: 25px">
                  <mat-form-field appearance="fill">
                    <mat-label>Valor de referência</mat-label>
                    <input
                      [(ngModel)]="inputReferencia"
                      pattern="[0-9]*"
                      matInput
                      placeholder="Valor de referência"
                      value=""
                      (keyup.enter)="focusNext('input7')"
                      id="input6"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
