.disabledInput {
  background-color: red; /* Cor de fundo cinza */
  pointer-events: none; /* Impede a interação com o campo */
}

.rowInputStepTwo {
  display: flex;
}

.checkboxEnable {
  color: green;
  margin-top: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  max-width: 100px;
}

.columnExterna {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding-right: 30px;
}
